div{
    background: linear-gradient(#004092, #020202, transparent), url("media/cr-0.png") no-repeat center;
    background-size: cover;
    height: 100vh;
    

    
}
.uppercase {
    text-transform: uppercase; 
}
.suffering{
    text-transform: uppercase;
    text-decoration-color: aliceblue;
    text-size-adjust: 100px;
}