div{
    background: linear-gradient(#043472, #6d6464, transparent 50%), url("media/cr-0.png") no-repeat center;
    filter: invert(100%);
    background-size: cover;
    height: 100vh;
    

    
}
.uppercase {
    text-transform: uppercase; 
}
.suffering{
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    text-size-adjust: 100px;
}
.k{
    filter: invert(100%);
    filter: grayscale(100%);
}
